#body {
    display: flex;
    justify-content: center;
}

#box {
    border: 2px solid #a4a4a4;
    border-radius: 5px;
    justify-content: center;
}

#bc {
    display: flex;
}

.a, .b, .c {
    background: #d9d9d9;
    margin: 1px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 10px;
}

.a {
    height: 25px;
}

.b {
    height: 50px;
    width: 100px;
}

.c {
    width: 30px;
}