body{background: black}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 30px;
    padding: 10px;
    margin-left: 550px ;
    margin-right: 500px;
}
.orange{
    color: orange;
    margin-top: 200px;
}
.blue {
    color: deepskyblue;
    margin-top: 20px;
}
.purpur{
    color: purple;
    margin-top: 20px;
}

.red{
    color: red;
    margin-top: 20px;


}